extends common/layout

block content
    main
      .slider
        .slide.slide-1
          .slide-wrap.container
            .slide-text
              h2 Lorem Ipsum Dolor
              p IT WILL MAKE ALL OF YOUR DREAMS COME TRUE
              p
                | Semper sollicitudin gravida eget, vestibulum sit amet sapien. Nunc dignissim tincidunt est, et auctor turpis ornare a. Nam venenatis hendrerit est at volutpat. Morbi elementum euismod lacus id semper. In odio nunc, imperdiet eget aliquam quis, euismod id lectus. Nulla interdum arcu et felis aliquam a tempus lectus lobortis.
            .slide-img
              img(src='images/iphones.png', alt='')
        .slider-nav.container
          .prev-slide.icon-left-open
          .next-slide.icon-right-open
          ul.dots
            li
              span
            li.active-slide
              span
            li
              span
            li
              span
      article.news
        .news-list.container
          div
            span.icon-wrench
            h2 ABOUT OUR COMPANY
            p
              | Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam vitae
            p
              a(href='') READ MORE
          div
            span.icon-comment
            h2 ABOUT OUR COMPANY
            p
              | Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam vitae
            p
              a(href='') READ MORE
          div
            span.icon-music
            h2 ABOUT OUR COMPANY
            p
              | Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam vitae
            p
              a(href='') READ MORE
      article.slider-updates
        .container
          .cont-slider
            .slide.slide-1
              span.photo
                img(src='images/ico-photo.png', alt='')
              h2
                | PingbulLer 
                span starts here
              p
                | &ldquo;Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam vitae lectus eu libero pellentesque pulvinar urna risus, mattis pulvinar bibendum in, venenatis quis neque. Mauris nec metus ultricies erat consequat dignissim non eu nisl.&rdquo;
            .slider-nav
              ul.dots
                li
                  span
                li.active-slide
                  span
                li
                  span
                li
                  span
          .updates
            h2 RECENT UPDATES
            .updates-list
              div
                .img
                  img(src='images/ico-img1.png', alt='')
                div
                  p
                    b Nunc turpis neque feugiat eget
                  p Posted by Admin on March 13 2012 in Recent News
              div
                .img
                  img(src='images/ico-img2.png', alt='')
                div
                  p
                    b Nunc turpis neque feugiat eget
                  p Posted by Admin on March 13 2012 in Category
              div
                .img
                  img(src='images/ico-img3.png', alt='')
                div
                  p
                    b Nunc turpis neque feugiat eget
                  p Posted by Admin on March 13 2012 in Blog Updates
            span
              a(href='') MORE BLOG POSTS
      article.partners
        .container
          .partners-list
            div
              img(src='images/img1.png', alt='')
            div
              img(src='images/img2.png', alt='')
            div
              img(src='images/img3.png', alt='')
            div
              img(src='images/img4.png', alt='')
            div
              img(src='images/img5.png', alt='')
            div
              img(src='images/img6.png', alt='')
      article.articles
        .container.articles-list
          .main-art
            h2
              | PIGBULL
              span ER
            p.descr Copyright 2013, Pingbull AS
            p
              | Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis aucto
          div
            h2 RECENT COMMENTS
            p
              | Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam vitae lectus eu libero pellentesque pulvinar. Quisque urna risus, mattis pulv
          div
            h2 NEWS CATEGORIES
            p
              | Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam vitae lectus eu libero pellentesque pulvinar. Quisque urna risus, mattis pul
