footer
  .container.footer-links
    ul.footer-nav
      li
        a(href='') Home
      li
        a(href='') About
      li
        a(href='') Blog
      li
        a(href='') Products
      li
        a(href='') Lorem Ipsum
      li
        a(href='') Dolor Sit Amet
    p.designed
      | Designed by 
      a(href='') Pingbull AS
