header.header
  .container
    h1
      | PINGBULL
      span ER
    nav
      .mmenu-button Menu
      ul.menu
        li
          a(href='') Home
        li
          a(href='') About
        li
          a(href='') Blog
        li
          a(href='') Products
        li
          a(href='') Lorem Ipsum
        li
          a(href='') Dolor Sit Amet