doctype html
html 
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='initial-scale=1')
    title homework12
    link(rel='stylesheet', href='./css/site-icons.css')
    link(rel='stylesheet', href='./css/style.css')
  body
    block header
      include header
    block content
    block footer 
      include footer
  body
html